<html>
<head>
<title></title>
</head>
<body>

<h1>Golang Royce REST API test - Kristoffer Hell 2021-06-09</h1>

<h2>cURLs for testing</h2>
<ul style="font-size:1.3em">
<li> GET id for all Person records: <br />
<b>curl http://localhost:8080/persons</b></li><br />
<li> GET all data for a person with a given id:<br /> 
<b>curl http://localhost:8080/person/4</b></li><br />
<li> CREATE a new Person record:<br /> 
<b>curl -X POST -d "name=John Doe III&dob=1997-09-20&address=97th Street&description=A Jolly Good Fellow" http://localhost:8080/person</b></li><br />
<li> DELETE a Person record by id:<br /> 
<b>curl -X DELETE "http://localhost:8080/person/14"</b></li><br />
<li> UPDATE a Person record by id:<br /> 
<b>curl -X PUT -d 'dob=1977-01-12' http://localhost:8080/person/6</b>
</ul>

</body>
</html>